In [1]:
#imports

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
n_colunas_max = []

for i in range(42):
    n_colunas_max.append(i)
    
colnames = ['tipo_movimento'] + n_colunas_max   


data = pd.read_csv("basededados.txt", header=None,sep=' ', names=colnames)

In [18]:
data

,tipo_movimento,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,40,41
0,1,0.33333,0.29167,0.29167,0.27778,0.23611,0.22222,0.166670,0.138890,0.097222,...,0.555560,0.541670,0.527780,0.55556,0.569440,0.597220,0.611110,0.625000,0.611110,0.569440
1,1,0.26389,0.25000,0.25000,0.26389,0.27778,0.26389,0.222220,0.180560,0.166670,...,0.638890,0.583330,0.513890,0.55556,0.569440,0.541670,NaN,NaN,NaN,NaN
2,1,0.30556,0.29167,0.25000,0.25000,0.22222,0.20833,0.180560,0.138890,0.111110,...,0.611110,0.611110,0.583330,0.54167,0.555560,0.583330,0.611110,0.625000,NaN,NaN
3,1,0.20833,0.16667,0.13889,0.15278,0.13889,0.11111,0.083333,0.055556,0.055556,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0.27778,0.27778,0.27778,0.26389,0.22222,0.19444,0.138890,0.069444,0.027778,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,12,0.56944,0.58333,0.61111,0.61111,0.62500,0.66667,0.708330,0.750000,0.791670,...,0.097222,0.111110,0.097222,0.11111,0.083333,0.055556,0.055556,0.041667,0.041667,0.013889
1196,12,0.38889,0.40278,0.45833,0.50000,0.55556,0.58333,0.652780,0.722220,0.777780,...,0.222220,0.208330,0.208330,0.19444,0.166670,0.166670,0.180560,0.180560,0.194440,0.194440
1197,12,0.48611,0.50000,0.52778,0.55556,0.59722,0.63889,0.722220,0.736110,0.750000,...,0.069444,0.097222,0.125000,0.13889,0.152780,0.138890,0.138890,0.097222,0.083333,0.055556
1198,12,0.58333,0.62500,0.62500,0.63889,0.65278,0.70833,0.777780,0.847220,0.888890,...,0.194440,0.208330,0.194440,0.19444,0.194440,0.180560,0.166670,0.125000,0.083333,0.069444
1199,12,0.47222,0.50000,0.59722,0.62500,0.66667,0.73611,0.750000,0.750000,0.763890,...,0.152780,0.111110,0.097222,0.11111,0.125000,0.097222,0.125000,0.125000,0.138890,0.138890