In [1]:
#imports

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
colnames = ['tipo_movimento'] + [item for pair in zip(["{:02d}".format(i) for i in range(24)
data = pd.read_csv("basededados.txt", header=None, names=colnames)

In [12]:
data

                                              movimento
0     1 0.33333 0.29167 0.29167 0.27778 0.23611 0.22...
1     1 0.26389 0.25 0.25 0.26389 0.27778 0.26389 0....
2     1 0.30556 0.29167 0.25 0.25 0.22222 0.20833 0....
3     1 0.20833 0.16667 0.13889 0.15278 0.13889 0.11...
4     1 0.27778 0.27778 0.27778 0.26389 0.22222 0.19...
...                                                 ...
1195  12 0.56944 0.58333 0.61111 0.61111 0.625 0.666...
1196  12 0.38889 0.40278 0.45833 0.5 0.55556 0.58333...
1197  12 0.48611 0.5 0.52778 0.55556 0.59722 0.63889...
1198  12 0.58333 0.625 0.625 0.63889 0.65278 0.70833...
1199  12 0.47222 0.5 0.59722 0.625 0.66667 0.73611 0...

[1200 rows x 1 columns]